workflows/loki_followup_nudge.json
{
  "name": "LokisWand — Follow-up Nudge",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "ac3b6865-c703-43f2-8a9c-1694c887e5af",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -656,
        208
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "value": "applZgAP2KgAezIIr",
          "mode": "id"
        },
        "table": {
          "value": "tblQwqOlS9E9nFZU6",
          "mode": "id"
        },
        "filterByFormula": "AND({Status}='Applied', NOT({Follow-up sent day 7}), DATETIME_DIFF(TODAY(), {Date submitted}, 'days') >= 7, DATETIME_DIFF(TODAY(), {Date submitted}, 'days') < 21)",
        "options": {}
      },
      "id": "b6990236-25db-4e17-96be-956415561857",
      "name": "Query Day 7 Records",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -448,
        80
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "9QQKiKufVltzWDO5",
          "name": "Airtable Personal Access Token account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-day7-found",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5fb37908-895c-44da-ab6d-c828597269d4",
      "name": "Day 7 Records Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        80
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "value": "applZgAP2KgAezIIr",
          "mode": "id"
        },
        "table": {
          "value": "tblQwqOlS9E9nFZU6",
          "mode": "id"
        },
        "filterByFormula": "AND({Status}='Applied', NOT({Follow-up sent day 14}), DATETIME_DIFF(TODAY(), {Date submitted}, 'days') >= 14, DATETIME_DIFF(TODAY(), {Date submitted}, 'days') < 21)",
        "options": {}
      },
      "id": "1d2ddba0-b82a-42f6-a079-2e171db24f96",
      "name": "Query Day 14 Records",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -448,
        320
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "9QQKiKufVltzWDO5",
          "name": "Airtable Personal Access Token account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-day14-found",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "39dc8867-cb03-4cf9-b4a7-1a7fdece6587",
      "name": "Day 14 Records Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nfor (const item of $input.all()) {\n  const record = item.json;\n  const text = `Follow-up Reminder\\nCompany:\n${record.Company}\\nRole: ${record['Role title']}\\nApplied:\n${record['Date submitted']}\\nDay 7 follow-up due - have you\nheard back?`;\n  results.push({ json: { ...record, slackBody:\nJSON.stringify({ text }) } });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        80
      ],
      "id": "8d97b7d3-114e-4780-9662-b45c4e26cf0c",
      "name": "Prepare Day 7 Message"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nfor (const item of $input.all()) {\n  const record = item.json;\n  const text = `Follow-up Reminder\\nCompany:\n${record.Company}\\nRole: ${record['Role title']}\\nApplied:\n${record['Date submitted']}\\nDay 14 follow-up due - have you\nheard back?`;\n  results.push({ json: { ...record, slackBody:\nJSON.stringify({ text }) } });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        320
      ],
      "id": "e893b4f9-36cf-4f22-9e24-e5795709469d",
      "name": "Prepare Day 14 Message"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.airtable.com/v0/applZgAP2KgAezIIr/tblQwqOlS9E9nFZU6",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ records: [{ id: $('Prepare Day 14 Message').item.json.id, fields: { 'Follow-up sent day 14': true } }] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        256
      ],
      "id": "867ce3a3-b7ab-4cf7-a241-66c07bd05e81",
      "name": "Update Day 14 Checkbox",
      "credentials": {
        "airtableTokenApi": {
          "id": "9QQKiKufVltzWDO5",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{ $json.slackBody }}",
        "options": {}
      },
      "id": "aa894860-b00b-4b82-8d9e-7150ded25505",
      "name": "Slack - Day 14 Nudge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        256
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{ $json.slackBody }}",
        "options": {}
      },
      "id": "0046567f-75ce-487e-be80-72b109d4ba9e",
      "name": "Slack - Day 7 Nudge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        16
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.airtable.com/v0/applZgAP2KgAezIIr/tblQwqOlS9E9nFZU6",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ records: [{ id: $('Prepare Day 7 Message').item.json.id, fields: { 'Follow-up sent day 7': true } }] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        16
      ],
      "id": "a386c5eb-096e-49b1-b17e-2dd3da68c6fc",
      "name": "Update Day 7 Checkbox",
      "credentials": {
        "airtableTokenApi": {
          "id": "9QQKiKufVltzWDO5",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Query Day 7 Records",
            "type": "main",
            "index": 0
          },
          {
            "node": "Query Day 14 Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Day 7 Records": {
      "main": [
        [
          {
            "node": "Day 7 Records Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 7 Records Found?": {
      "main": [
        [
          {
            "node": "Prepare Day 7 Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Day 14 Records": {
      "main": [
        [
          {
            "node": "Day 14 Records Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 14 Records Found?": {
      "main": [
        [
          {
            "node": "Prepare Day 14 Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Day 7 Message": {
      "main": [
        [
          {
            "node": "Slack - Day 7 Nudge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Day 14 Message": {
      "main": [
        [
          {
            "node": "Slack - Day 14 Nudge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Day 14 Checkbox": {
      "main": [
        []
      ]
    },
    "Slack - Day 14 Nudge": {
      "main": [
        [
          {
            "node": "Update Day 14 Checkbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Day 7 Nudge": {
      "main": [
        [
          {
            "node": "Update Day 7 Checkbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6a863ecb-ea83-4f0c-9d22-9f14ff0b10af",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df67822ba4756e22c5e98cec7c19e5ceeedbb3bfddc2863ea11fa7ba186c4883"
  },
  "id": "2wsQdUKnAQPyzUrK",
  "tags": []
}
