workflows/loki_followup_nudge.json
{
  "name": "LokisWand — Follow-up Nudge",
  "nodes": [
    {
      "id": "b2c3d4e5-0001-4000-8000-000000000001",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [60, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-4000-8000-000000000002",
      "name": "Query Day 7 Records",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [280, 180],
      "parameters": {
        "operation": "search",
        "base": { "value": "applZgAP2KgAezIIr", "mode": "id" },
        "table": { "value": "tblQwqOlS9E9nFZU6", "mode": "id" },
        "filterByFormula": "AND({Status}='Applied', NOT({Follow-up sent day 7}), DATETIME_DIFF(TODAY(), {Date submitted}, 'days') >= 7, DATETIME_DIFF(TODAY(), {Date submitted}, 'days') < 21)",
        "options": {}
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "SELECT_YOUR_AIRTABLE_CREDENTIAL",
          "name": "Airtable Token"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "b2c3d4e5-0003-4000-8000-000000000003",
      "name": "Day 7 Records Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 180],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-day7-found",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "b2c3d4e5-0004-4000-8000-000000000004",
      "name": "Slack — Day 7 Nudge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 100],
      "parameters": {
        "method": "POST",
        "url": "PASTE_SLACK_WEBHOOK_URL_HERE",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: 'Follow-up Reminder\\nCompany: ' + $json.fields.Company + '\\nRole: ' + $json.fields['Role title'] + '\\nApplied: ' + $json.fields['Date submitted'] + '\\nDay 7 follow-up due — have you heard back?' }) }}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "b2c3d4e5-0005-4000-8000-000000000005",
      "name": "Update Day 7 Checkbox",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [940, 100],
      "parameters": {
        "operation": "update",
        "base": { "value": "applZgAP2KgAezIIr", "mode": "id" },
        "table": { "value": "tblQwqOlS9E9nFZU6", "mode": "id" },
        "id": "={{ $json.id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Follow-up sent day 7": true
          }
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "SELECT_YOUR_AIRTABLE_CREDENTIAL",
          "name": "Airtable Token"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "b2c3d4e5-0006-4000-8000-000000000006",
      "name": "Query Day 14 Records",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [280, 420],
      "parameters": {
        "operation": "search",
        "base": { "value": "applZgAP2KgAezIIr", "mode": "id" },
        "table": { "value": "tblQwqOlS9E9nFZU6", "mode": "id" },
        "filterByFormula": "AND({Status}='Applied', NOT({Follow-up sent day 14}), DATETIME_DIFF(TODAY(), {Date submitted}, 'days') >= 14, DATETIME_DIFF(TODAY(), {Date submitted}, 'days') < 21)",
        "options": {}
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "SELECT_YOUR_AIRTABLE_CREDENTIAL",
          "name": "Airtable Token"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "b2c3d4e5-0007-4000-8000-000000000007",
      "name": "Day 14 Records Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 420],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-day14-found",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "b2c3d4e5-0008-4000-8000-000000000008",
      "name": "Slack — Day 14 Nudge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 360],
      "parameters": {
        "method": "POST",
        "url": "PASTE_SLACK_WEBHOOK_URL_HERE",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: 'Follow-up Reminder\\nCompany: ' + $json.fields.Company + '\\nRole: ' + $json.fields['Role title'] + '\\nApplied: ' + $json.fields['Date submitted'] + '\\nDay 14 follow-up due — have you heard back?' }) }}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "b2c3d4e5-0009-4000-8000-000000000009",
      "name": "Update Day 14 Checkbox",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [940, 360],
      "parameters": {
        "operation": "update",
        "base": { "value": "applZgAP2KgAezIIr", "mode": "id" },
        "table": { "value": "tblQwqOlS9E9nFZU6", "mode": "id" },
        "id": "={{ $json.id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Follow-up sent day 14": true
          }
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "SELECT_YOUR_AIRTABLE_CREDENTIAL",
          "name": "Airtable Token"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "b2c3d4e5-0010-4000-8000-000000000010",
      "name": "Slack — Workflow Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 240],
      "parameters": {
        "method": "POST",
        "url": "PASTE_SLACK_WEBHOOK_URL_HERE",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: 'LokisWand follow-up nudge workflow encountered an error during today run. Records may not have been updated. The workflow will retry tomorrow.' }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [[
        { "node": "Query Day 7 Records", "type": "main", "index": 0 },
        { "node": "Query Day 14 Records", "type": "main", "index": 0 }
      ]]
    },
    "Query Day 7 Records": {
      "main": [[{ "node": "Day 7 Records Found?", "type": "main", "index": 0 }]]
    },
    "Day 7 Records Found?": {
      "main": [
        [{ "node": "Slack — Day 7 Nudge", "type": "main", "index": 0 }],
        []
      ]
    },
    "Slack — Day 7 Nudge": {
      "main": [[{ "node": "Update Day 7 Checkbox", "type": "main", "index": 0 }]]
    },
    "Query Day 14 Records": {
      "main": [[{ "node": "Day 14 Records Found?", "type": "main", "index": 0 }]]
    },
    "Day 14 Records Found?": {
      "main": [
        [{ "node": "Slack — Day 14 Nudge", "type": "main", "index": 0 }],
        []
      ]
    },
    "Slack — Day 14 Nudge": {
      "main": [[{ "node": "Update Day 14 Checkbox", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": false },
  "id": "lokiswand-followup-nudge-v1",
  "tags": []
}
